<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
</head>
<body>
<!-- Modal -->
<div th:fragment="addModal(banks, paymentSystems, currencies, currentlyUser)" class="modal fade" id="addModal" tabindex="-1"
     role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add account</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form name="dataAdd" id="dataAdd">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="exampleInputSymbol1">Name account</label>
                        <input name="name" type="text" class="form-control" id="exampleInputSymbol1" />
                        <label for="exampleInputSymbol1">amount</label>
                        <input name="amount" type="text" class="form-control" id="exampleInputSymbol2" />
                        <label for="exampleInputSymbol1">Banks</label>
                        <div class="input-group pb-3">
                            <select class="custom-select" name="bank" id="inputGroupSelect02">
                                <option value="null" selected>Choose bank...</option>
                                <option value="null">Empty option</option>
                                <option th:each="bank : ${banks}"
                                        th:value="${bank.getId()}" th:utext="${bank.getName()}"></option>
                            </select>
                        </div>
                        <label for="exampleInputSymbol1">Payments systems</label>
                        <div class="input-group pb-3">
                            <select class="custom-select" name="paymentSystem" id="inputGroupSelect03">
                                <option value="null" selected>Choose payments systems...</option>
                                <option value="null">Empty option</option>
                                <option th:each="paySystem : ${paymentSystems}"
                                        th:value="${paySystem.getId()}" th:utext="${paySystem.getName()}"></option>
                            </select>
                        </div>

                        <label for="exampleInputSymbol1">Currencies</label>
                        <div class="input-group pb-3">
                            <select class="custom-select" name="currency" id="inputGroupSelect04">
                                <option value="null" selected>Choose currency...</option>
                                <option value="null">Empty option</option>
                                <option th:each="currency : ${currencies}"
                                        th:value="${currency.getId()}" th:utext="${currency.getName()}"></option>
                            </select>
                        </div>
                        <label for="exampleInputSymbol1">Account type</label>
                        <select class="custom-select" name="accountType" id="inputGroupSelect05">
                            <option selected value="empty!">Empty option</option>
                            <option value="Debit" >Debit</option>
                            <option value="Credit" >Credit</option>
                        </select>
                        <label for="exampleInputSymbol1">Active</label>
                        <select class="custom-select" name="isActive" id="inputGroupSelect06">
                            <option selected value="0">Empty option</option>
                            <option value="1" >true</option>
                            <option value="0" >false</option>
                        </select>

                        <label for="exampleInputSymbol1">User</label>
                        <div class="input-group pb-3">
                            <select class="custom-select" name="user" id="inputGroupSelect07">
                                <option value="null">Empty option</option>
                                <option th:value="${currentlyUser.getId()}" th:text="${currentlyUser.getLogin()}"
                                        selected></option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" id="button1" class="btn btn-primary" onclick="saveAccountUserPage()">Add</button>
                </div>
            </form>
        </div>
    </div>
</div>
</div>
</body>
</html>
</body>
</html>