<!doctype html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="resources/scripts/js/updateTable.js"></script>
    <script src="resources/scripts/js/createRequest.js"></script>
    <script src="resources/scripts/js/validationForms.js"></script>
    <title>User</title>
</head>
<body>
<div th:insert="header :: header(${user})"></div>

<div>

    <div class="container">
        <div class="row">
            <div class="col-sm">
                <div class="row">
                    <p class="mr-3" th:text="${'Ваше имя пользователя - '+currentlyUser.getLogin()}"></p>
                    <button type="button" class="btn btn-primary" data-toggle="modal"
                            data-target="#editModalLogin"
                            th:attrappend="data-target=${'-' +currentlyUser.getId()}">
                        edit
                    </button>
                    <div th:insert="users/userPage/modalEditLogin :: editModalLogin(user=${currentlyUser})"></div>

                    <button th:text="'Edit password'" type="button" class="btn btn-primary" data-toggle="modal"
                            data-target="#editModalPassword"
                            th:attrappend="data-target=${'-' +currentlyUser.getId()}">
                        edit
                    </button>
                    <div th:insert="users/userPage/modalEditPassword :: editModalPassword(user=${currentlyUser})"></div>
                </div>
                <div class="row">
                    <p th:text="${'Ваша роль - '+currentlyUser.getRole()}"></p>
                </div>
                <div class="d-flex justify-content-end ml-auto mb-1">
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addModal">
                        Add new account
                    </button>
                </div>

                <div th:insert="users/userPage/modalAddAccount :: addModal(${banks},${paymentSystems},${currencies},${currentlyUser})"></div>
                <table class="table" id="table">
                    <thead class="thead-light">
                    <tr>
                        <th scope="col">Имя аккаунта</th>
                        <th scope="col">Кол-во денег</th>
                        <th scope="col">Банк</th>
                        <th scope="col">Плат. система</th>
                        <th scope="col">Валюта</th>
                        <th scope="col">Тип</th>
                        <th scope="col">Активность</th>
                        <th scope="col">Пользователь</th>
                        <th scope="col">Действия</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="acc : ${accounts}">
                        <td th:text="${acc.getName()}"></td>
                        <td th:text="${acc.getAmount()}"></td>
                        <td th:text="${acc.getBankModel() != null} ? ${acc.getBankModel().getName()} : 'empty!'"></td>
                        <td th:text="${acc.getPaySystemModel()  != null} ? ${acc.getPaySystemModel().getName()} : 'empty!'"></td>
                        <td th:text="${acc.getCurrencyModel()  != null} ? ${acc.getCurrencyModel().getName()} : 'empty!'"></td>
                        <td th:text="${acc.getAccountType()}"></td>
                        <td th:text="${acc.isActive()} ? 'true' : 'false'" }></td>
                        <td th:text="${acc.getUserModel()  != null} ? ${acc.getUserModel().getLogin()} : 'empty!'"></td>
                        <td>
                            <div class="d-flex justify-content-start">
                                <button type="button" class="btn btn-primary" data-toggle="modal"
                                        data-target="#editModal"
                                        th:attrappend="data-target=${'-' +acc.getId()}">
                                    edit
                                </button>
                                <div th:insert="users/userPage/modalEditAccount :: editModal(${acc},${banks},${paymentSystems},${currencies},${currentlyUser})"></div>
                                <button type="button" class="btn btn-primary" data-toggle="modal"
                                        data-target="#delModal"
                                        th:attrappend="data-target=${'-' +acc.getId()}">
                                    del
                                </button>
                                <div th:insert="modalDelTemplate :: delModal(id = ${acc.getId()})"></div>
                            </div>
                        </td>
                    </tr>
                    </tbody>

                </table>

            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-12">
                <div th:insert="footer :: footer"></div>
            </div>
        </div>
    </div>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

</body>
</html>
