<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
</head>
<body>
<!-- Modal -->
<div th:fragment="addModal(accounts, categories)" class="modal fade" id="addModal" tabindex="-1"
     role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add operation</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form  id="dataAdd">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="exampleInputName1">Description</label>
                        <input name="description" class="form-control" id="exampleInputName1" aria-describedby="emailHelp">
                    </div>
                    <label for="exampleInputName1">Account</label>
                    <select class="custom-select" name="account" id="inputGroupSelect04">
                        <option selected>Choose account...</option>
                        <option value="null">Empty option</option>
                        <option th:each="acc : ${accounts}"
                                th:value="${acc.getId()}" th:utext="${acc.getName()}"></option>
                    </select>
                    <div class="form-group">
                        <label for="exampleInputName1">Amount</label>
                        <input name="amount" class="form-control" id="exampleInputName2" aria-describedby="emailHelp">
                    </div>
                    <div class="form-group">
                        <label for="example-datetime-local-input" class="col-form-label">Date and time</label>
                        <input name="date" class="form-control" min="2000-01-01T00:00" max="2100-01-01T00:00" type="datetime-local" id="example-datetime-local-input">
                    </div>
                    <select multiple class="custom-select" name="categories" id="inputGroupSelect05">
                        <option value="null" selected>Choose categories...</option>
                        <option value="null">Empty option</option>
                        <option th:each="cat : ${categories}"
                                th:value="${cat.getId()}" th:utext="${cat.getName()}"></option>
                    </select>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button id="button1" type="submit" class="btn btn-primary" onclick="addWithCategories()">Add</button>
                </div>
            </form>
        </div>
    </div>
</div>
</div>
</body>
</html>
</body>
</html>