<!DOCTYPE html>
<!--<html xmlns:th="http://www.thymeleaf.org">-->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<html lang="en">
<body>
<div th:fragment="header(user)">


    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">
            <img src="https://getbootstrap.com/docs/4.1/assets/brand/bootstrap-social-logo.png" width="30"
                 height="30" class="d-inline-block align-top" alt="">
            GeekFactory HomeFinance
            <div>
                <h6>by Aleksandr Abrashin</h6>
            </div>
        </a>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav p-3 mb-2 ">
                <a class="btn btn-primary" href="/operations" role="button">Operations</a>
                <a class="btn btn-primary" href="/events" role="button">Events</a>
                <a class="btn btn-primary" href="/account" role="button">Accounts</a>
                <a class="btn btn-primary" href="/categories" role="button">Categories</a>
                <a class="btn btn-primary" href="/bank" role="button">Banks</a>
                <a class="btn btn-primary" href="/payment" role="button">Payment system</a>
                <a class="btn btn-primary" href="/currency" role="button">Currency</a>
            </div>
        </div>
        <div class="collapse navbar-collapse">
            <label class="text-white" th:text="${user}"></label>
            <div class="navbar-nav p-3 mb-2 ">
                <div sec:authorize="hasRole('ADMIN')">
                    <a class="btn btn-primary btn-sm" href="/admin_page" role="button">admin page</a>
                </div>
                <div sec:authorize="hasRole('USER')">
                    <a class="btn btn-primary btn-sm" href="/user_page" role="button">user page</a>
                </div>
<!--                <div th:if="${#request.isUserInRole('ADMIN')}">-->
<!--                    <a class="btn btn-primary btn-sm" href="/admin_page" role="button">admin page</a>-->
<!--                </div>-->
<!--                <div th:if="${#request.isUserInRole('USER')}">-->
<!--                    <a class="btn btn-primary btn-sm" href="/user_page" role="button">user page</a>-->
<!--                </div>-->
                <div>
                    <a class="btn btn-primary btn-sm" href="/logout" role="button">logout</a>
                </div>
            </div>
        </div>
    </nav>

</div>
</body>
</html>