<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
</head>
<body>
<!-- Modal -->
<div th:fragment="delModal(id)" class="modal fade" id="delModal" tabindex="-1" role="dialog"
     th:attrappend="id=${'-' +id}"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Delete</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p th:text="${id}"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <form id="dataDel" th:attrappend="id=${'-' +id}">
                    <button id="button1" class="btn btn-primary"
                            th:attrappend="onclick=${'del(' + id + ')'}">Del
                    </button>
                    <input type="hidden" name="id" th:value="${id}"/>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>