<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>GeekFactory HomeFinance</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>

    <script src="resources/scripts/js/validationForms.js"></script>
    <script src="resources/scripts/js/updateTable.js"></script>
    <script src="resources/scripts/js/createRequest.js"></script>
</head>
<body>

<div th:insert="header :: header(${user})"></div>

<div class="container-fluid">
    <div class="row py-3">
        <div class="col-2">
        </div>
        <div class="col-8">
            <div class="d-flex justify-content-end ml-auto mb-1">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addModal">
                    Add new
                </button>
            </div>

            <div th:insert="categories/modalAddTemplate :: addModal(${categories})"></div>

            <div class="form-row">
                <div class="input-group mb-2">
                    <input type="text" class="form-control" name="search" id="search1" placeholder="Enter name" onkeyup="myFunction()">
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-2">

        </div>
        <div class="col-8 bg-light text-dark">
            <table class="table" id="table">
                <thead class="thead-light">
                <tr>
                    <th scope="col">Имя категории</th>
                    <th scope="col">Имя родительской категории</th>
                    <th scope="col">Действия</th>
                </tr>
                </thead>

                <tbody>
                <tr th:each="cat : ${categories}">
                    <td th:text="${cat.getName()}"></td>
                    <td th:text="${cat.getParent() != null} ? ${cat.getParent().getName()} : 'empty!'"></td>
                    <td>
                        <div class="d-flex justify-content-start">
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#editModal"
                                    th:attrappend="data-target=${'-' +cat.getId()}">
                                edit
                            </button>
                            <div th:insert="categories/modalEditTemplate :: editModal(
                            idCat=${cat.getId()},
                            nameCat=${cat.getName()},
                            idParentCat=${cat.getParent() != null} ? ${cat.getParent().getId()} :'empty',
                            nameParentCat=${cat.getParent() != null} ? ${cat.getParent().getName()} :'empty',
                            categoriesList=${categories})">
                            </div>
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#delModal"
                                    th:attrappend="data-target=${'-' +cat.getId()}">
                                del
                            </button>
                            <div th:insert="modalDelTemplate :: delModal(id = ${cat.getId()})"></div>
                        </div>
                    </td>
                </tr>
                </tbody>

            </table>
        </div>
    </div>
</div>
<div th:insert="footer :: footer"></div>

</body>
</html>