<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
</head>
<body>
<!-- Modal -->
<div th:fragment="editModal(idCat, nameCat,idParentCat,nameParentCat,categoriesList)" class="modal fade" id="editModal" tabindex="-1"
     role="dialog" th:attrappend="id=${'-' +idCat}"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Edit categories</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="dataEdit" th:attrappend="id=${'-' +idCat}">
                <div class="modal-body">
                    <div class="form-group">
                        <input type=hidden name="id"
                               th:value="${idCat}"/>
                        <label for="exampleInputName1">Name categories</label>
                        <input name="name" th:value="${nameCat}" class="form-control" id="exampleInputName1" aria-describedby="emailHelp">

                        <label for="exampleInputName1">Name parent categories </label>
                        <div class="input-group pb-3">
                            <select class="custom-select" name="parentId" id="selectCategories">
                                <option value="null">Empty option</option>
                                <option selected th:if="${idParentCat != 'empty'}" th:value="${idParentCat}" th:text="${nameParentCat}"></option>
                                <option th:each="cat : ${categoriesList}"
                                        th:if="!${#strings.equals(cat.getName(), nameCat)}"
                                 th:value="${cat.getId() }" th:text="${cat.getName()}"></option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button id="button1" type="submit" class="btn btn-primary"
                            th:attrappend="onclick=${'edit(' + idCat + ')'}">Edit
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
</div>
</body>
</html>