<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
</head>
<body>
<!-- Modal -->
<div th:fragment="addModal(categoriesList)" class="modal fade" id="addModal" tabindex="-1"
     role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add categories</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form name="dataAdd" id="dataAdd">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="exampleInputSymbol1">Name categories</label>
                        <div class="input-group pb-3">
                            <input name="name" class="form-control" id="exampleInputSymbol1"/>
                        </div>
                        <label for="exampleInputSymbol1">Parent category</label>
                        <div class="input-group pb-3">
                            <select class="custom-select" name="parentId" id="inputGroupSelect02">
                                <option th:value="null" selected>Choose parent categories...</option>
                                <option value="null">Empty option</option>
                                <option th:each="cat : ${categoriesList}"
                                    th:value="${cat.getId()}" th:utext="${cat.getName()}"></option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" id="button1" class="btn btn-primary" onclick="add()">Add</button>
                </div>
            </form>
        </div>
    </div>
</div>
</div>
</body>
</html>
</body>
</html>