<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
</head>
<body>
<!-- Modal -->
<div th:fragment="editModal(acc, banks,paymentSystems,currencies, users)" class="modal fade" id="editModal"
     tabindex="-1"
     role="dialog" th:attrappend="id=${'-' +acc.getId()}"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Edit account</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="dataEdit" th:attrappend="id=${'-' +acc.getId()}">
                <div class="modal-body">
                    <div class="form-group">
                        <input type=hidden name="id" id="id"
                               th:value="${acc.getId()}"/>
                        <label for="exampleInputSymbol1">Name account</label>
                        <input name="name" type="text" th:value="${acc.getName()}" class="form-control"
                               id="exampleInputSymbol1"/>
                        <label for="exampleInputSymbol1">amount</label>
                        <input name="amount" type="text" th:value="${acc.getAmount()}" class="form-control"
                               id="exampleInputSymbol2"/>
                        <label for="exampleInputSymbol1">Banks</label>
                        <div th:if="${acc.getBankModel() != null}">
                            <select class="custom-select" name="bank" id="inputGroupSelect02">
                                <option th:value="${acc.getBankModel() != null} ? ${acc.getBankModel().getId()} : 'null'"
                                        th:text="${acc.getBankModel() != null} ? ${acc.getBankModel().getName()} : 'empty!'"
                                        selected></option>
                                <option value="null">Empty option</option>
                                <option th:each="bank : ${banks}"
                                        th:if="!${#strings.equals(bank.getName(), acc.getBankModel().getName())}"
                                        th:value="${bank.getId()}" th:utext="${bank.getName()}"></option>
                            </select>
                        </div>
                        <div th:if="${acc.getBankModel() == null}">
                            <select class="custom-select" name="bank" id="inputGroupSelect02">
                                <option th:value="${acc.getBankModel() != null} ? ${acc.getBankModel().getId()} : 'null'"
                                        th:text="${acc.getBankModel() != null} ? ${acc.getBankModel().getName()} : 'empty!'"
                                        selected></option>
                                <option value="null">Empty option</option>
                                <option th:each="bank : ${banks}"
                                        th:value="${bank.getId()}" th:utext="${bank.getName()}"></option>
                            </select>
                        </div>
                        <label for="exampleInputSymbol1">Payments systems</label>
                        <div th:if="${acc.getPaySystemModel() != null}" class="input-group pb-3">
                            <select class="custom-select" name="paymentSystem" id="inputGroupSelect03">
                                <option th:value="${acc.getPaySystemModel() != null} ? ${acc.getPaySystemModel().getId()} : 'null'"
                                        th:text="${acc.getPaySystemModel() != null} ? ${acc.getPaySystemModel().getName()} : 'empty!'"
                                        selected></option>
                                <option value="null">Empty option</option>
                                <option th:each="paySystem : ${paymentSystems}"
                                        th:if="!${#strings.equals(paySystem.getName(), acc.getPaySystemModel().getName())}"
                                        th:value="${paySystem.getId()}" th:utext="${paySystem.getName()}"></option>
                            </select>
                        </div>
                        <div th:if="${acc.getPaySystemModel() == null}" class="input-group pb-3">
                            <select class="custom-select" name="paymentSystem" id="inputGroupSelect03">
                                <option th:value="${acc.getPaySystemModel() != null} ? ${acc.getPaySystemModel().getId()} : 'null'"
                                        th:text="${acc.getPaySystemModel() != null} ? ${acc.getPaySystemModel().getName()} : 'empty!'"
                                        selected></option>
                                <option value="null">Empty option</option>
                                <option th:each="paySystem : ${paymentSystems}"
                                        th:value="${paySystem.getId()}" th:utext="${paySystem.getName()}"></option>
                            </select>
                        </div>

                        <label for="exampleInputSymbol1">Currencies</label>
                        <div th:if="${acc.getCurrencyModel() != null}" class="input-group pb-3">
                            <select class="custom-select" name="currency" id="inputGroupSelect04">
                                <option th:value="${acc.getCurrencyModel() != null} ? ${acc.getCurrencyModel().getId()} : 'null'"
                                        th:text="${acc.getCurrencyModel() != null} ? ${acc.getCurrencyModel().getName()} : 'empty!'"
                                        selected></option>
                                <option value="null">Empty option</option>
                                <option th:each="currency : ${currencies}"
                                        th:if="!${#strings.equals(currency.getName(), acc.getCurrencyModel().getName())}"
                                        th:value="${currency.getId()}" th:utext="${currency.getName()}"></option>
                            </select>
                        </div>
                        <div th:if="${acc.getCurrencyModel() == null}" class="input-group pb-3">
                            <select class="custom-select" name="currency" id="inputGroupSelect04">
                                <option th:value="${acc.getCurrencyModel() != null} ? ${acc.getCurrencyModel().getId()} : 'null'"
                                        th:text="${acc.getCurrencyModel() != null} ? ${acc.getCurrencyModel().getName()} : 'empty!'"
                                        selected></option>
                                <option value="null">Empty option</option>
                                <option th:each="currency : ${currencies}"
                                        th:value="${currency.getId()}" th:utext="${currency.getName()}"></option>
                            </select>
                        </div>

                        <label for="exampleInputSymbol1">Account type</label>
                        <div th:if="${#strings.equals(acc.getAccountType(), 'empty!')}">
                            <select class="custom-select" name="accountType" id="inputGroupSelect05">
                                <option th:value="${acc.getAccountType() != null} ? ${acc.getAccountType()} : 'null'"
                                        th:text="${acc.getAccountType() != null} ? ${acc.getAccountType()} : 'empty!'"
                                        selected></option>
                                <option value="Empty">Empty option</option>
                                <option value="Debit">Debit</option>
                                <option value="Credit">Credit</option>
                            </select>
                        </div>
                        <div th:if="!${#strings.equals(acc.getAccountType(),'empty!')}">
                            <select class="custom-select" name="accountType" id="inputGroupSelect05">
                                <option th:value="${acc.getAccountType()}"
                                        th:text="${acc.getAccountType()}"
                                        selected></option>
                                <option value="Empty">Empty option</option>
                                <option th:if="${#strings.equals(acc.getAccountType(), 'Debit')}"
                                        value="Credit">Credit</option>
                                <option th:if="${#strings.equals(acc.getAccountType(), 'Credit')}"
                                        value="Debit">Debit
                                </option>
                            </select>
                        </div>
                        <label for="exampleInputSymbol1">Activ</label>
                        <select class="custom-select" name="isActive" id="inputGroupSelect05">
                            <option th:value="${acc.isActive()} ? '1' : '0'"
                                    th:text="${acc.isActive()} ? 'true' : 'false'" selected></option>
                            <option th:if="!${acc.isActive()}" value="1">true</option>
                            <option th:if="${acc.isActive()}" value="0">false</option>
                        </select>

                        <label for="exampleInputSymbol1">User</label>
                        <div th:if="${acc.getUserModel() == null}" class="input-group pb-3">
                            <select class="custom-select" name="user" id="inputGroupSelect06">
                                <option th:value="${acc.getUserModel() != null} ? ${acc.getUserModel().getId()} : 'null'"
                                        th:text="${acc.getUserModel() != null} ? ${acc.getUserModel().getLogin()} : 'empty!'"
                                        selected></option>
                                <option value="null">Empty option</option>
                                <option th:each="user : ${users}"
                                        th:value="${user.getId()}" th:utext="${user.getLogin()}"></option>
                            </select>
                        </div>
                        <div th:if="${acc.getUserModel() != null}" class="input-group pb-3">
                            <select class="custom-select" name="user" id="inputGroupSelect07">
                                <option th:value="${acc.getUserModel() != null} ? ${acc.getUserModel().getId()} : 'null'"
                                        th:text="${acc.getUserModel() != null} ? ${acc.getUserModel().getLogin()} : 'empty!'"
                                        selected></option>
                                <option value="null">Empty option</option>
                                <option th:each="user : ${users}"
                                        th:if="!${#strings.equals(user.getLogin(), acc.getUserModel().getLogin())}"
                                        th:value="${user.getId()}" th:utext="${user.getLogin()}"></option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary"
                            th:attrappend="onclick=${'edit(' + acc.getId() + ')'}"> Edit
                    </button>
                    <button type="submit" class="btn btn-primary"
                            th:attrappend="onclick=${'clone(' + acc.getId() + ')'}"> Clone
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
</div>
</body>
</html>