<!doctype html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="resources/scripts/js/updateTable.js"></script>
    <script src="resources/scripts/js/createRequest.js"></script>
    <script src="resources/scripts/js/validationForms.js"></script>
    <title>Admin</title>
</head>
<body>
<div th:insert="header :: header(${user})"></div>

<div>

    <div class="container">
        <div class="mb-5"></div>

        <div class="row">

            <div class="col-2">
            </div>

            <div class="col-8">
                <div class="form-row mb-2 mt-3">
                    <div class="input-group">
                        <input type="text" class="form-control" name="search" id="search1" placeholder="Enter name"
                               onkeyup="myFunction()">
                        <button type="button" class="btn btn-primary ml-1" data-toggle="modal" data-target="#addModal">
                            Add new
                        </button>
                    </div>
                </div>

                <div th:insert="users/adminPage/modalAddTemplate :: addModal"></div>

                <table class="table" id="table">
                    <thead class="thead-light">
                    <tr>
                        <th scope="col">Логин</th>
                        <th scope="col">Роль</th>
                        <th scope="col">Действия</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="user : ${allUsers}">
                        <td th:text="${user.getLogin()}"></td>
                        <td th:text="${user.getRole()}"></td>
                        <td>
                            <div class="d-flex justify-content-start">
                                <button type="button" class="btn btn-primary" data-toggle="modal"
                                        data-target="#editModal"
                                        th:attrappend="data-target=${'-' +user.getId()}">
                                    edit
                                </button>
                                <div th:insert="users/adminPage/modalEditTemplate :: editModal(user=${user}, idUser=${user.getId()})"></div>
                                <button type="button" class="btn btn-primary" data-toggle="modal"
                                        data-target="#delModal"
                                        th:attrappend="data-target=${'-' +user.getId()}">
                                    del
                                </button>
                                <div th:insert="modalDelTemplate :: delModal(id = ${user.getId()})"></div>
                            </div>
                        </td>
                    </tr>
                    </tbody>

                </table>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-12">
                <div th:insert="footer :: footer"></div>
            </div>
        </div>
    </div>
</div>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

</body>
</html>
