<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>GeekFactory HomeFinance</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>

    <script src="resources/scripts/js/validationForms.js"></script>
    <script src="/resources/scripts/js/updateTable.js"></script>
    <script src="resources/scripts/js/createRequest.js"></script>
</head>
<body>

<div th:insert="header :: header(${user})"></div>

<div class="container-fluid">
    <div class="row py-3">
        <div class="col-2">
        </div>
        <div class="col-8">
            <div class="d-flex justify-content-end ml-auto mb-1">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addModal">
                    Add new
                </button>
            </div>

            <div th:insert="events/modalAddTemplate :: addModal(${accounts},${categories})"></div>

            <div class="form-row">
                <div class="input-group mb-2">
                    <input type="text" class="form-control" name="search" id="search1" placeholder="Enter name" onkeyup="myFunction()">
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-2">

        </div>
        <div class="col-8 bg-light text-dark">
            <table class="table" id="table">
                <thead class="thead-light">
                <tr>
                    <th scope="col">Имя события</th>
                    <th scope="col">Имя аккаунта</th>
                    <th scope="col">Кол-во денег</th>
                    <th scope="col">Дата списания</th>
                    <th scope="col">Категория списания</th>
                    <th scope="col">Вкл\выкл</th>
                    <th scope="col">Действия</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="event : ${events}">
                    <td th:text="${event.getName()}"></td>
                    <td th:text="${event.getAccountModel()  != null} ? ${event.getAccountModel().getName()} : 'empty!'"></td>
                    <td th:text="${event.getAmount()}"></td>
                    <td th:text="${event.getDate()}"></td>

                    <td>
                        <ul th:if="${#lists.isEmpty(event.getCategories())}">
                            <li th:text="'Empty categories!'">Empty!</li>
                        </ul>
                        <ul th:if="!${#lists.isEmpty(event.getCategories())}">
                            <ul th:each="cat : ${event.getCategories()}">
                                <li th:text="${cat.getName()}"></li>
                            </ul>
                        </ul>
                    </td>
                    <td th:text="${event.getIsActive()}"></td>

                    <td>

                    <div class="d-flex justify-content-start">
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#editModal"
                                th:attrappend="data-target=${'-' +event.getId()}">
                            edit
                        </button>
                        <div th:insert="events/modalEditTemplate :: editModal(${event}, ${accounts}, ${categories})"></div>
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#delModal"
                                th:attrappend="data-target=${'-' +event.getId()}">
                            del
                        </button>
                        <div th:insert="modalDelTemplate :: delModal(id = ${event.getId()})"></div>
                    </div>
                    </td>
                </tr>
                </tbody>

            </table>
        </div>
    </div>
</div>
<div th:insert="footer :: footer"></div>

</body>
</html>