<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
</head>
<body>
<!-- Modal -->
<div th:fragment="editModal(event, accounts, categories)"
     class="modal fade" id="editModal" tabindex="-1"
     role="dialog" th:attrappend="id=${'-' +event.getId()}"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Edit events</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="dataEdit" th:attrappend="id=${'-' +event.getId()}">
                <div class="modal-body">
                    <div class="form-group">
                        <div class="form-group">
                            <input type="hidden" name="id" th:value="${event.getId()}">
                            <label for="exampleInputName1">Name</label>
                            <input name="name" class="form-control" id="exampleInputName1"
                                   aria-describedby="emailHelp" th:value="${event.getName()}">
                        </div>
                        <div th:if="${event.getAccountModel() != null}">
                            <select class="custom-select" name="account" id="inputGroupSelect04">
                                <option selected>Choose account...</option>
                                <option value="null">Empty option</option>
                                <option th:value="${event.getAccountModel() != null} ? ${event.getAccountModel().getId()} : 'null'"
                                        th:text="${event.getAccountModel() != null} ? ${event.getAccountModel().getName()} : 'empty!'"
                                        selected></option>
                                <option th:each="acc : ${accounts}"
                                        th:if="!${#strings.equals(event.getAccountModel().getName(), acc.getName())}"
                                        th:value="${acc.getId()}" th:utext="${acc.getName()}"></option>
                            </select>
                        </div>
                        <div th:if="${event.getAccountModel() == null}">
                            <select class="custom-select" name="account" id="inputGroupSelect04">
                                <option selected>Choose account...</option>
                                <option value="null">Empty option</option>
                                <option th:value="${event.getAccountModel() != null} ? ${event.getAccountModel().getId()} : 'null'"
                                        th:text="${event.getAccountModel() != null} ? ${event.getAccountModel().getName()} : 'empty!'"
                                        selected></option>
                                <option th:each="acc : ${accounts}"
                                        th:value="${acc.getId()}" th:utext="${acc.getName()}"></option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputName2">Amount</label>
                            <input name="amount" class="form-control" id="exampleInputName2"
                                   aria-describedby="emailHelp" th:value="${event.getAmount()}">
                        </div>
                        <div class="form-group">
                            <label for="example-datetime-local-input" class="col-form-label">Date and time</label>
                            <input name="date" class="form-control" min="2000-01-01T00:00" max="2100-01-01T00:00"
                                   type="datetime-local" id="example-datetime-local-input"
                                   th:value="${event.getDate()}">
                        </div>
                        <select multiple class="custom-select" name="categories" id="inputGroupSelect05">
                            <option value="null" selected>Choose categories...</option>
                            <option value="null">Empty option</option>
                            <option th:each="cat : ${categories}"
                                    th:value="${cat.getId()}" th:utext="${cat.getName()}"></option>
                        </select>

                        <label for="exampleInputActive">Activ</label>
                        <select class="custom-select" name="isActive" id="exampleInputActive">
                            <option th:value="${event.getIsActive()} ? '1' : '0'"
                                    th:text="${event.getIsActive()} ? 'true' : 'false'" selected></option>
                            <option th:if="!${event.getIsActive()}" value="1">true</option>
                            <option th:if="${event.getIsActive()}" value="0">false</option>
                        </select>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button id="button1" type="submit" class="btn btn-primary"
                                th:attrappend="onclick=${'editWithCategories(' + event.getId() + ')'}">Edit
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</div>
</body>
</html>